html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

main {
    width: 100%;
    min-height: calc(4 * (100vh - 42px));
    border-top: 30px solid white;
    border-left: 30px solid white;
    border-right: 30px solid white;
    background-color: #003885;
    position: relative;
}

.svg-container {
    width: 100%;
    position: sticky;
    top: 0;
    overflow: hidden;
    pointer-events: none;
    z-index: 2;
}

.svg-container > img {
    transition: .4s;
    position: absolute;
}

svg g {
    transition: .8s;
}


.content {
    width: 100%;
    position: absolute;
    top: 0;
    padding-left: 20%;
}

.page-content {
    width: 30%;
    height: calc(100vh - 50px);
    color: white;
    position: relative;
    top: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page-content h2 {
    font-size: 3vw;
    margin-bottom: 30px;
}

.page-content p {
    color: white;
    font-size: 18px;
    line-height: 30px;
}

